<%-
  title "Description"
  content_for(:stylesheets) do
    stylesheet_link_tag 'home_index', media: 'all'
  end
%>

<% content_for(:header_contents) do %>
  <h1>Description - エピソード一覧</h1>
<% end %>

<main>
  <ul>
    <% @episodes.each do |episode| %>
      <li><%= episode.published_at %> <%= link_to  episode.title, descriptions_episode_path(episode) %></li>
    <% end %>
  </ul>
</main>
