<%-
  title "Description"
  content_for(:stylesheets) do
    stylesheet_link_tag 'home_index', media: 'all'
  end
%>

<main>
  <textarea rows="70" cols="auto" readonly>
    <%= raw render partial: 'spotify_for_podcasters_description', locals: { episode: @episode } %>
  </textarea>
</main>
