<%-
  title "Description"
  content_for(:stylesheets) do
    stylesheet_link_tag 'home_index', media: 'all'
  end
%>

<% content_for(:header_contents) do %>
  <h1>Description</h1>
<% end %>

<main>
</main>
