<%-
  title "Description"
  content_for(:stylesheets) do
    stylesheet_link_tag 'home_index', media: 'all'
  end
%>

<% content_for(:header_contents) do %>
  <h1>Description</h1>
<% end %>

<main>
  <%= link_to 'エピソード一覧', descriptions_episodes_path %>
</main>
