<section id="table_contents">
  <header>
    <h2>Contents</h2>
  </header>

  <ul>
    <% chapters.each do |chapter| %>
      <li><a><small><%= chapter.time.split('.').first %></small> <%= chapter.title %></a></li>
    <% end %>
    </ul>
</section>

<hr>
