<section >
  <hr>
  <div id="guest_info">
    <h2>ゲストQ＆A</h2>

    <h4>生活全般について</h4>
    <div class="cp_box">
      <input id="cp01" type="checkbox">
      <label for="cp01"></label>
      <div class="cp_container">
        <div class="cp_qa">
          <dl>
            <% questions_and_answers.each do |questions_and_answer| %>
              <dt><%= questions_and_answer.question_text %></dt>
              <dd><%= questions_and_answer.text %></dd>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
