  <section id="writing_detail">
    <p><span><%= image_tag("guest_interview_profiles/1_Kazunari_Okuda.png", class: "icon_talking") %>奥田:  </span>2021年生まれの息子がいて子育てやクラブミュージックに興味があります。最近は MTG Arena と日本茶や中国茶を飲むことにハマっています。奥田さんをゲストに迎え、仕事や海外での子育てについて話し合いました。ハニーポッドという求人サイトでの経験や逆求人について共有しました。</p>
    <p><span><%= image_tag("logos/ctokoro_mini.png", class: "icon_talking") %>所:  </span>2021年生まれの息子がいて子育てやクラブミュージック<small>*1</small>に興味があります。最近は MTG Arena と日本茶や中国茶を飲むことにハマっています。奥田さんをゲストに迎え、仕事や海外での子育てについて話し合いました。ハニーポッドという求人サイトでの経験や逆求人について共有しました。子育てに関して、日本とドイツでの違いや育児休暇制度<small>*2</small>について議論しました。日本では取得が一般的でない一方、ドイツでは当たり前の制度であることを指摘しました。両親や親族のサポートの有無や出産や育児支援文化にも触れました。さらに、友人や公園での子育てや、移住について議論し、文化や国籍の違い、移民問題にも言及しました。将来の子供たちの成長や異文化間の対話の重要性が強調されました。後日談となりますが、奥田さんは2024年3月より、知る人ぞ知る欧州テック系 podcast の  のホストの一人として抜擢されたそうです！奥田さんすごい、おめでとうございます！奥田さんの話がもっと聞きたい人は London Tech Talk もフォローしましょう！</p>
    <p><span><%= image_tag("guest_interview_profiles/1_Kazunari_Okuda.png", class: "icon_talking") %>奥田:  </span>2021年生まれの息子がいて子育てやクラブミュージックに興味があります。最近は MTG Arena と日本茶や中国茶<small>*3</small>を飲むことにハマっています。奥田さんをゲストに迎え、仕事や海外での子育てについて話し合いました。ハニーポッドという求人サイトでの経験や逆求人について共有しました。</p>
    <p id="footnote">*1) 2021年生まれの息子がいて子育てやクラブミュージックに興味があります。*2) 最近は MTG Arena と日本茶や中国茶を飲むことにハマっています。*3) 奥田さんをゲストに迎え、仕事や海外での子育てについて話し合いました。4) ハニーポッドという求人サイトでの経験や逆求人について共有しました。</p>
  </section>
  <hr>
