  <section id="writing_detail">
    <% transcriptions.each do |transcription| %>
      <p><span><%= image_tag(transcription.image_path, class: "icon_talking") %><%= transcription.name %>:  </span><%= transcription.text %></p>
    <% end %>

    <% if false %>
      <p id="footnote">*1) 2021年生まれの息子がいて子育てやクラブミュージックに興味があります。*2) 最近は MTG Arena と日本茶や中国茶を飲むことにハマっています。*3) 奥田さんをゲストに迎え、仕事や海外での子育てについて話し合いました。4) ハニーポッドという求人サイトでの経験や逆求人について共有しました。</p>
    <% end %>
  </section>

  <hr>
