<%-
  title "エピソード一覧"
  description "海外移住channel の配信中エピソード一覧です。様々なゲストをお呼びしたいと思っています。"
  set_meta_tags image_src: image_url("logos/logo_kaigaiiju-channel.webp", host: Rails.application.config.x.website_uri.to_s),
    og: {
      url: episodes_url,
      type: "website"
    }

  content_for(:stylesheets) do
    stylesheet_link_tag 'episodes_index', media: 'all'
  end
%>

<main>
  <section id="story_list">
    <header>
      <h1><%= title %></h1>
    </header>

    <ul class="card_items">
      <%= render partial: 'episode_card', collection: @episodes %>
    </ul>
  </section>

  <section id="feedback">
    <p>
      <a href="<%= root_path %>" class="link"><b>戻る</b></a>
    </p>
  </section>
  <div class="back-to-top" id="page-top">
    <a href="#" class="gotop">T o p へ</a>
  </div>

</main>
<script>
document.addEventListener("DOMContentLoaded", function () {
  const pageTop = document.querySelector("#page-top");
  const scrollThreshold = 800;


  function scrollTop() {
    window.scroll({
      top: 0,
      behavior: "smooth",
    });
  }

  function scrollEvent() {
    if (window.scrollY > scrollThreshold) {
      pageTop.style.opacity = "1";
    } else {
      pageTop.style.opacity = "0";
    }
  }


  function Position() {
    const scrollHeight = document.documentElement.scrollHeight;
    const scrollPosition = window.innerHeight + window.scrollY;
    const footHeight = document.querySelector("footer").offsetHeight;
  
    if (scrollHeight - scrollPosition <= footHeight) {
      pageTop.style.position = "absolute";
      pageTop.style.bottom = footHeight + "px";
      
    } else {
      pageTop.style.position = "fixed";
      pageTop.style.bottom = "0";
    }
  }

  pageTop.addEventListener("click", scrollTop);
  window.addEventListener("scroll", scrollEvent);
  window.addEventListener("scroll", Position);
});
</script>

