<%
  title 'フィードバックページへ転送'
  noindex
  refresh "0;#{new_feedback_path}"
  disable_header
  disable_footer
%>

<p>転送中です。もし表示されない場合はこの<%= link_to(new_feedback_path) do %>フィードバックページへのリンク<%- end %>をクリックしてください。</p>
