<%
  title 'フィードバック'
  disable_header
  disable_footer
%>

<main>
  <div style="text-align:center">
    <iframe src="<%= feedback_google_form_url %>" width="640" height="2300" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</main>
